
<div>
    <div class="boton">
        <button class="btn btn-black" style="margin: auto;" (click)="openModalAdd()" >Agregar Auto <i class="fas fa-plus-circle"></i></button>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Marca</th>
            <th scope="col">Submarca</th>
            <th scope="col">Descripción</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let auto of autos | slice: (page-1) * pageSize : page * pageSize">
            <td>{{ auto._id }}</td>
            <td>{{ auto.marca }}</td>
            <td>{{ auto.submarca }}</td>
            <td>{{ auto.descripcion }}</td>
            <td><i class="far fa-edit" (click)="openModalEdit(auto)"></i></td>
            <td><i class="far fa-trash-alt" (click)="openModalDelete(auto)"></i></td>
        </tr>
        </tbody>
    </table>
    <ngb-pagination [collectionSize]="autos.length" [pageSize]="pageSize" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
</div>

