
<div class="contenido">
    <div class="lista" *ngFor="let auto of autos | slice: (page-1) * pageSize : page * pageSize">   
        <i class="fas fa-eye fas-5x" (click)="openModal(auto, content)"></i>
        <p>{{auto.descripcion}}</p>
    </div>
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Detalles Automóvil</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div  class="modal-body" *ngIf="autoSeleccionado">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="field">Marca: </span> <span class="value">{{ autoSeleccionado.marca }}</span>
            </li>
            <li class="list-group-item">
                <span class="field">Submarca: </span> <span class="value">{{ autoSeleccionado.submarca }}</span>
            </li>
            <li class="list-group-item">
                <span class="field">Descripción: </span> <span class="value">{{ autoSeleccionado.descripcion }}</span>
            </li>
        </ul>
    </div>
</ng-template>

