.contenido{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    width: 80%;

}

.lista{
    margin: 5px;
    background-color: #D2E69C;
    display: flex;

    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.lista>*{
    margin: 10px;
}

p {
    text-align: right;
    font-size: 20px;
    inline-size: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}